{{extend 'layout.html'}}
{{block header}}
<style>
#texto {
position: absolute;
margin-top: -216px;
}
</style>
<img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS3_D7WXQ8Zg5oeOg4Oo0fcTTQzf4zmz89Lv89W0teZjRztknPL" width= 100% height="200"/>
<div id = "texto"> <h1 class="display-5"><font size = 5 > {{=B(msg)}} </font> </h1> </div>
 <div class="container center">
 </div>
</div></br>

<!-- CORPO -->
<!--<h1> <p align = "center"> <font face="Trebuchet"> {{="Eventos Disponiveis"}} </font></p></h1></br> -->
{{=grid}}
